# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Project
app/data/att48.tsp
app/data/eil101.tsp
app/logs/*
app/build/*
runs/*
!*.gitkeep
results
ITS review
*cache
*extra

# Mac
**/.DS_Store

# Idea
.idea/*
FairMTSP/.idea/*

# VSCode
.vscode/*
app/bin/*

