# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Project
app/data/*
app/logs/*
app/build/*
!*.gitkeep

# Mac
**/.DS_Store

# Idea
.idea/*
FairMTSP/.idea/*

# VSCode
.vscode/*
app/bin/*

